---
import Layout from "@/layouts/NotFoundLayout.astro";
---

<Layout
  title="ページが見つかりません"
  description="お探しのページは見つかりませんでした。URLが間違っているか、ページが削除された可能性があります。"
  index={false}
  prevUrl="/"
  breadcrumb={[
    { name: "PineDuck", symbol: "pineduck", url: "https://pineduck.jp/" },
    {
      name: "アヒルのしっぽ",
      symbol: "duck-tail",
      url: "https://pineduck.jp/duck-tail/",
    },
    {
      name: "すべての記事",
      symbol: "all",
      url: "https://duck-tail.pineduck.jp/",
    },
    { name: "ページが見つかりません", symbol: "article" },
  ]}
>
  <img
    class="not-found-image"
    src="/images/not-found.webp"
    alt="ページが見つかりません"
  />
  <h1>ページが見つかりません</h1>
  <p>
    お探しのページは見つかりませんでした。URLが間違っているか、ページが削除された可能性があります。
  </p>
  <a class="return-root" href="/"
    ><span data-sprite="all"></span><span>すべての記事へ</span></a
  >
</Layout>
