<header>
  <a href="https://pineduck.jp/duck-tail/" aria-label="アヒルのしっぽLPへ">
    <img
      class="logo-icon"
      src="/icons/logo-icon-tail.webp"
      alt="アヒルのしっぽロゴアイコン"
    />
  </a>
</header>

<style>
  header {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 5px 8px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1.5px var(--dark);
  }

  @media screen and (width <= 600px) {
    header {
      border-top: none;
      border-right: none;
      border-bottom: solid 1.5px var(--middle);
      border-left: none;
    }
  }

  @media screen and (width >= 601px) {
    header {
      margin: 8px auto 0;
    }
  }

  header > a {
    display: block;
    line-height: 0;
  }

  header .logo-icon {
    display: block;
    width: auto;
    height: 40px;
    cursor: pointer;
    image-rendering: pixelated;
  }
</style>
